{% extends "base.html" %}

{% block meta %}
<title>Footballpedia</title>
{% endblock meta %}

{% block content %}
{% include "navbar.html" %}
<h5>Nama Aplikasi:</h1>
<p>{{ application_name }}</p>
<h5>Nama:</h1>
<p>{{ name }}</p>
<h5>Kelas:</h1>
<p>{{ class }}</p>

<a href="{% url 'main:create_product' %}">
    <button>+ Add Product</button>
</a>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>User saat ini: {{ current_user.username }}</h5>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<hr>

<a href="?filter=all">
    <button type="button">All Products</button>
</a>
<a href="?filter=my">
    <button type="button">My Products</button>
</a> 
<hr>

{% if not product_list %}
<p>Belum ada produk yang ditambahkan.</p>
{% else %}

{% for product in product_list %}
<div>
    <a href="{% url 'main:show_product' product.id %}">
        <h2>{{ product.name }}</h2>
    </a>

    <p><b>{{ product.get_category_display }}</b>{% if product.is_featured %} | 
    <b>Featured</b>{% endif %} | Rating: {{ product.rating }} ⭐ | {{ product.quantity }} sold</p>

    {% if product.thumbnail %}
    <img src="{{ product.thumbnail }}" alt="Thumbnail" width="150px" height-auto>
    <br />
    {% endif %}

    <p>{{ product.description|truncatewords:25 }}...</p>
    <P>Rp {{ product.price }}</p>

    <p>
        <a href="{% url 'main:show_product' product.id %}"><button>See Details</button></a>
        
        {% if user.is_authenticated and product.user == user %}
        <a href="{% url 'main:edit_product' product.pk %}">
            <button>
                Edit
            </button>
        </a>
        <a href="{% url 'main:delete_news' news.pk %}">
            <button>
                Delete
            </button>
        </a>
        {% endif %}
    </p>
</div>
<hr>
{% endfor %}
{% endif %}
{% endblock content %}